---
layout: main
title: Carte Marine France
opengraph: 
- property: title
  content: "Carte Marine France \xE2\x80\x94 geogarage"
- property: image
  content: http://carte-france.geogarage.com/images/ipad.png
- property: description
  content: "Cartes marines fran\xC3\xA7aise pour iPad et iPhone"
- property: type
  content: website
- property: url
  content: http://carte-france.geogarage.com/
stylesheets:
 - stylesheets/index.css
---

<div id="fb-root"></div> 
<script defer>(function(d, s, id) {   var js, fjs = d.getElementsByTagName(s)[0];   if (d.getElementById(id)) return;   js = d.createElement(s); js.id = id;   js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";   fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
{% if site.app_published == false %}
<script type="text/javascript">
window.onload = function() {
  var openFormElement = document.getElementById('touch-button');
  openFormElement.onclick = function(event) {
    var overlay = document.createElement('div');
    overlay.className = "overlay";
    document.body.appendChild(overlay);
    var vcenter = document.createElement('span');
    vcenter.className = "v-center";
    overlay.appendChild(vcenter);
    document.body.appendChild(overlay);
    var container = document.createElement('span');
    container.className = 'frame-container';
    container.innerHTML = '<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFFRek9YWl91RlR5NTFodENqa09KZFE6MQ" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>'

    var annuler = document.createElement('a');
    annuler.setAttribute('href', 'javascript:;');
    annuler.className = "close-form";
    annuler.innerHTML = '&times;';
    container.appendChild(annuler);

    overlay.appendChild(container);
    overlay.onclick = function(event) {
      overlay.parentNode.removeChild(overlay);
    }
  }
}
</script>
{% endif %}

<div class="container">
  <div class="fixie9">
    <span class="v-center">
    </span>
    <span class="content">
      {% if site.app_published %}
      <a class="block-link" href="{{ site.app_itunes_url }}">
      {% else %}
      <div>
      {% endif %}
        <span class="title">
          <div class="app-name">
            <div>Carte</div><div>Marine</div><div>France</div>
          </div>
          <div class="h-line"><span></span></div>
          <div class="devices">
            <div>iPad</div>
            <div>iPhone</div>
          </div>
          <div class="h-line"><span></span></div>
          <div class="app-infos">
            <span class="hl">692</span> cartes
          </div>
        </span>

        
        <img class="ipad-sc" src="images/ipad.png">
      {% if site.app_published %}
      </a>
      {% else %}
      <div>
      {% endif %}

      {% if site.app_published == false %}
      <div class="soon-cont">
        <span class="v-center"></span>
        <span class="soon">Bientôt disponible sur l'App Store</span>
      </div>
      <div class="in-touch" id="touch-button">
        <span class="touch-title">Restez en contact !</span>
        <span class="sub-text">Pour être informé lorsque l'application sera disponible,  <span class="looks-cliquable">cliquez ici pour laisser votre email</span></span>
      </div>
      {% endif %}

      <div class="sharing">
        <span class="social-net">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="geogarage" data-lang="fr">Tweeter</a>
          <script defer>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </span>

        <span class="social-net">
          <div class="fb-like" data-send="false" data-layout="button_count" data-width="auto" data-show-faces="false"></div>
        </span>

        <span class="social-net">
          <!-- Place this tag where you want the +1 button to render -->
          <g:plusone size="medium"></g:plusone>

          <!-- Place this render call where appropriate -->
          <script type="text/javascript" defer>
            window.___gcfg = {lang: 'fr'};

            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </span>
      </div>
    </span>
  </div>
</div>
