---
subpages:
- link_title: Application
  link: application
  page_id: application
- link_title: "R\xC3\xA9f\xC3\xA9rences cartes"
  link: ref
  page_id: ref
- link_title: FAQ
  link: faq
  file: faq.html
  page_id: faq
- link_title: Presse
  link: presse
  page_id: presse
- link_title: Contact
  link: contact
  page_id: contact
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>{{page.title}} — geogarage</title>
    
    {% for tag in page.opengraph %}
    <meta property="og:{{tag.property}}" content="{{tag.content}}">
    {% endfor %}
    
    <link rel="stylesheet" href="stylesheets/base.css">
    {% for css in page.stylesheets %}
    <link rel="stylesheet" href="{{css}}">
    {% endfor %}
    
    <script type="text/javascript" defer>

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-883814-14']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


  </head>
  <body>
    <div class="head {{page.current_page_id}}">
      
      <a href="./" class="logo"></a>
      {% for subpage in page.subpages %}
      <a href="{{subpage.link}}" class="{{subpage.page_id}}">{{subpage.link_title}}</a>
      {% endfor %}

    </div>

    {{ content }}

    <div class="footer">
      Copyright © MIS - 2012
    </div>
  </body>
</html>